PORT=3000
NODE_ENV=development

# Base de datos PostgreSQL local (Docker Compose)
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=football_tokens_db

# Seguridad y Autenticación JWT
JWT_SECRET=super_secreto_para_desarrollo_tokens_2026_grupo_q
JWT_EXPIRATION=24h

# API Key football-data.org
FOOTBALL_DATA_API_KEY=tu_api_key
FOOTBALL_DATA_HEADER=X-Auth-Token